<div class="jumbotron bg-light p-5 rounded">
    <h1 class="display-4 text-primary">✅ NAVBAR FUNCIONANDO!</h1>
    <p class="lead">Navbar azul no topo de todas as páginas!</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/posts">→ Posts</a>
</div>